body {
  margin: 0;
 background-image: linear-gradient(to right top, #f2b0e4, #ecc3ee, #e9d4f4, #eae4f5, #f2f2f2);
 width: 100%;
 height: 100vh;
}
.app-container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 100px;
  bottom: 50px;
 
  height: 100vh;
}

.step-text {
  font-size: 16px;
  font-weight: 600;
  color: #222;
  user-select: none;
  line-height: 1.3em;
}

svg {
  overflow: visible;
  max-width: 100%;
}